

#board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid black;
    margin: 50px;


}

.square {
    height: 50px;
    width: 50px;
    background-color: pink;
    border: 1px solid black;
}